 /* Start cards Page */
 .grid-template {
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     padding-top: 50px ;
     padding-bottom: 50px ;
     background-color: azure;
     gap: 20px;
 }

 @media (max-width: 767px) {
     .grid-template {
         /* grid-template-columns: minmax(200px, 1fr); */
    
         gap: 20px;
     }
 }

 .card {
     overflow: hidden;
     border: 1px solid #eee;
     /* width: 100%; */
     /* height: fit-content; */
 }
 .card .cover {
     max-width: 100%;
     width: 100%;
    height: 250px;
     /* object-fit: cover; */
     
 }

 /* .grid-template .card .instructor {
     position: absolute;
     width: 64px;
     height: 64px;
     border-radius: 50%;
     top: 20px;
     left: 20px;
     border: 2px solid white;
 } */

.card .description {
     line-height: 1.6;
     width: 100%;
   
     height: 120px;
     overflow: hidden;
     display: block;
     text-overflow: ellipsis;
 }

 .card .info {
     border-top: 1px solid #eee;
     font-size: 13px;
 }

 .grid-template .card .info .title {
     position: absolute;
     top: -13px;
     left: 50%;
     transform: translateX(-50%);
     font-size: 13px;
 }
 .card .btn {
    display: flex;
    justify-content: center !important;
    /* width: 100%; */
 }
.more {
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  
   display: inline-block;
   margin:10px auto;

}
.skCard {
    background-color: #eee;
    /* padding: 10px; */
    width: 100%;
    /* direction: rtl; */
    height: fit-content;
    overflow: hidden;
    border: 1px solid #eee;
}
.skCard .item {
    display: block;
    background-color: white;
}
 /* End cards Page */