.products {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(auto-fill,1fr); */
    gap: 3px;
    height: auto;
    width: 100%;
    /* background-color: green; */
}

@media (max-width: 767px) {
    .products {
        /* grid-template-columns: repeat(2,1fr); */
    }
}

@media (min-width: 992px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}
.productDetails {
    padding-top: 20px;
}
.productDetails .name {
    padding: 15px 0;
    color: var(--main-color);
}
.productDetails .currentPrice {
    color: red;
}
.productDetails .discountt {
    background-color: rgb(38, 255, 0);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
}
.productDetails .discountt span {
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0 10px;
}
.productDetails .price {
    gap: 5px;

    display: flex;
}
.productDetails .priceAndDiscount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px 0; */
    /* flex-wrap: wrap; */
    /* background-color: green; */
}
@media (max-width: 767px) {
    .productDetails .priceAndDiscount {
        /* flex-direction: column; */
    }
}
.productDetails h5 {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid green;
}
.productDetails .details {
    padding-top: 15px;
    padding-bottom: 15px;
}
.productDetails .attributes {
    padding: 15px 0;
}
.productDetails .attributes .attribute {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    margin: 5px;
    display: inline-block;
}
.shop {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: white;
}
.shop .product {
    border-bottom: none;
}
.shop .swiper-slide {
}
.shop .swiper-slide .product {
    width: 100%;
}
.shop .custom-swiper {
}
